<a href="https://colab.research.google.com/github/tae1n11/test/blob/main/Google_Drive_usage_sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 나의 Google Drive에 있는 File 을 Colab 에서 사용하는 방법
1. Colab 에서 Google Drive 를 Gdrive 로 Mount 한다. ( 여기서 "Gdrive" 은 원하는 어떤 이름도 가능함)

In [2]:
from google.colab import drive
drive.mount('Gdrive')

Mounted at Gdrive

2. File 을 읽어본다 ( 읽기전 나의 Google Drive 해당 Folder 에 해당  File 이 있는지  Google Drive 에서 확인한다.)

In [3]:
import pandas as pd
df = pd.read_csv('Gdrive/My Drive/ds2023/w2/housepricedata.csv')

3. 읽은 File 내용을 출력한다.

In [4]:
df

,LotArea,OverallQual,OverallCond,TotalBsmtSF,FullBath,HalfBath,BedroomAbvGr,TotRmsAbvGrd,Fireplaces,GarageArea,AboveMedianPrice
0,8450,7,5,856,2,1,3,8,0,548,1
1,9600,6,8,1262,2,0,3,6,1,460,1
2,11250,7,5,920,2,1,3,6,1,608,1
3,9550,7,5,756,1,0,3,7,1,642,0
4,14260,8,5,1145,2,1,4,9,1,836,1
...,...,...,...,...,...,...,...,...,...,...,...
1455,7917,6,5,953,2,1,3,7,1,460,1
1456,13175,6,6,1542,2,0,3,7,2,500,1
1457,9042,7,9,1152,2,0,4,9,2,252,1
1458,9717,5,6,1078,1,0,2,5,0,240,0
1459,9937,5,6,1256,1,1,3,6,0,276,0